name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '34 4 * * 1' # weekly, on Thursday morning

jobs:
  code_style:
    name: Code Style
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: [8.2, 8.3]

    steps:
    - uses: actions/checkout@v6
    - name: Use PHP ${{ matrix.php-version }}
      uses: shivammathur/setup-php@v2
      with:
        coverage: none
        php-version: ${{ matrix.php-version }}
    - name: install dependencies
      run: composer install --no-interaction --prefer-dist
    - name: lint PHP
      run: bin/phpcs
    - name: static code analysis
      run: bin/phpstan

  tests:
    name: PHPUnit Tests
    needs: code_style
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: [8.2, 8.3]

    steps:
    - uses: actions/checkout@v6
    - name: Use PHP ${{ matrix.php-version }}
      uses: shivammathur/setup-php@v2
      with:
        coverage: none
        php-version: ${{ matrix.php-version }}
    - name: install dependencies
      run: composer install --no-interaction --prefer-dist
    - name: Run Tests
      run: bin/phpunit tests
